/* Color Palette */
/* Color Palette */
header#header {
  border-bottom: 3px solid #18a84a;
}
.hero-image {
  width: 100%;
  min-height: 813px;
  background: url('img/hero-image.jpg') no-repeat;
  background-size: cover;
}
/*Menu*/
nav ul.menu {
  margin: 0;
}
nav ul.menu li {
  display: inline;
  list-style: none;
  margin-right: 20px;
}
nav ul.menu li a {
  color: #939598;
  text-decoration: none;
}
nav ul.menu li a:hover {
  color: #18a84a;
}
/** MEDIA QUERIES **/
/* MAX 768  */
/* MIN: 768 MAX: 992 */
/* MIN: 900 MAX: 1199 */
/* MIN: 1200  */
